/* navigation bar */
.navbar {
    position: absolute;
    z-index: 4;
    top: 0;
    overflow: auto;
    width: 100%;
    opacity: 0.8;
}

.nav-item {
    margin: 5px 10px;
    font-size: 1rem;
}

.search {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

/*middle container */

.middle-container {
    margin: 100px auto 20px auto;
    /*padding: 25px; */
    text-align: center;
    position: relative;
    font-family: Sans-serif;
}

.background-photo {
    /*margin: 0 auto;*/
    width: 70%;
    z-index: 2;
}

.main-name {
    z-index: 3;
    position: absolute;
    top: 2%;
    left: 18%;
    text-align: left;
    font-weight: bold;
    font-size: 3vw;
}

.description {
    z-index: 3;
    position: absolute;
    top: 10%;
    left: 18%;
    text-align: left;
    font-weight: bold;
    font-size: 2vw;
}

.bottom-motto {
    margin-bottom: 0px;
    z-index: 3;
    position: absolute;
    bottom: 10%;
    left: 18%;
    color: white;
    font-size: 3vw;
    font-weight: bold;
}

.taken-by {
    z-index: 3;
    position: absolute;
    bottom: 5%;
    right: 18%;
    color: white;
    font-size: 0.9vw;
    font-weight: bold;
}

.header-container {
    position: relative;
    width: 70%;
    margin: 20px auto 20px auto;
    text-align: left;
}

.text-content {
    position: relative;
    width: 70%;
    margin: 20px auto 20px auto;
    text-align: left;
    line-height: 2rem;
}

.wrapper {
    position: relative;
    width: 80%;
    margin: 20px auto 20px auto;
}

.wrapper-text {
    line-height: 2rem;
    color: black;
}

.service-img {
    width: 50%;
    margin: 20px;
    z-index: 2;
    float: left;
}

.taken-by-wrapper {
    z-index: 3;
    position: absolute;
    bottom: 10%;
    color: black;
    font-size: 0.9vw;
    font-weight: bold;
    margin: 20px;
}

/* services container */
h1, h4 {
    color: #808080;
}

.services-container {
    margin: 100px auto 100px auto;
    width: 70%;
    text-align: center;
    position: relative;
}

.service {
    background-color: #e3f2fd;
    margin: 10px;
    padding: 30px;
}

.service-image {
    margin: 10px;
    padding: 10px;
    width: 7rem;
    height: 7rem;
}

.team-container {
    margin: 100px auto 0;
    /*padding: 25px; */
    position: relative;
    font-family: Sans-serif;
}

.team-member-container {
    margin: 100px 0 100px 0;
}

.map {
    text-align: center;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 100px;
    background-color: #e3f2fd;
    color: #808080;
    line-height: 2pt;
    font-size: 0.8rem;
}

.footer-column {
    padding: 10px 20px 0px 80px;
}

.footer-bottom {
    text-align: center;
}