{% extends "base.html" %}

{% block content %}
<main>
    <div class="middle-container">
        <img src="{{url_for('static',filename ='img/psycholog.jpg')}}" alt="Therapy" class="background-photo" />
        <div class="main-name">W GŁOWIE SIĘ NIE MIEŚCI ®</div>
        <div class="description">Poradnia Psychologiczno-Terapeutyczna w Lodzi</div>
        <div class="bottom-motto">Nie bój się spojrzeć w głąb siebie</div>
    </div>

    <div class="services-container">
        <h1>CZYM SIĘ ZAJMUJEMY?</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <a href="{{url_for('online_therapy')}}" title="Terapia online"><img src="{{url_for('static',filename ='img/monitor.png')}}" alt="Online therapy" class="service-image"></a>
                    <h4>Terapia online</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <a href="{{url_for('mobile_advice')}}" title="Teleporada"><img src="{{url_for('static',filename ='img/phone.png')}}" alt="Phone-advice" class="service-image"></a>
                    <h4>Teleporada</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <a href="{{url_for('couple_therapy')}}" title="Terapia par"><img src="{{url_for('static',filename ='img/couple.png')}}" alt="Couple" class="service-image"></a>
                    <h4>Terapia par</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <a href="{{url_for('phobies')}}" title="Phobia"><img src="{{url_for('static',filename ='img/phobia.png')}}" alt="Phobia" class="service-image"></a>
                    <h4>Lęki i fobie</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" >
                <div class="service">
                    <a href="{{url_for('stress')}}" title="Stress"><img src="{{url_for('static',filename ='img/stress.png')}}" alt="Stress" class="service-image"></a>
                    <h4>Stress</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <a href="{{url_for('depression')}}" title="Depression"><img src="{{url_for('static',filename ='img/passion.png')}}" alt="Passion" class="service-image"></a>
                    <h4>Depresja i cierpienie</h4>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
