<!DOCTYPE html>
<html lang="pl">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W głowie się nie mieści</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                    <img src="{{url_for('static',filename ='img/brain.png')}}"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">O Nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('team')}}">Nasz Zespół</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('show_visits')}}">Rezerwacja wizyty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('show_blog')}}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('contact')}}">Kontakt</a>
                </li>

                {% if not current_user.is_authenticated: %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('register')}}">Zarejestruj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Zaloguj</a>
                </li>
                {% else: %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Wyloguj</a>
                </li>
                {% endif %}
            </ul>
            <div class="search">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
            </form>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

</body>
</html>