{% extends "base.html" %}

{% block content %}
<main>
    <div class="team-container">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                </div>
                <div class="col-lg-8 col-md-12">
                    <h1 style="color: black;">Kontakt z nami</h1>
                </div>
            </div>
            <div class="row team-member-container">
                <div class="col-lg-4 col-md-12">
                    <p><strong>Telefon:</strong></p>
                    <p>512 222 333</p>
                    <p><strong>Adres:</strong></p>
                    <p>ul. Karpacka 7 lok. 22, 90-210 Lódź</p>
                    <p><strong>e-mail:</strong></p>
                    <p>poradnia@wglowiesieniemiesci.eu</p>
                    <p><strong>Godziny pracy:</strong></p>
                    <p><strong>poniedziałek-piątek:</strong></p>
                     <p>od 10:00 do 19:00</p>
                    <p><strong>sobota-niedziela:</strong></p>
                    <p>nieczynne</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2471.539958991305!2d19.46966455620651!3d51.7231585502349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471a34f0d90fec81%3A0x5d9adf016247be4f!2zS2FycGFja2EgNywgOTMtNTM5IMWBw7Nkxbo!5e0!3m2!1spl!2spl!4v1650130273912!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}

    {% include 'footer.html' %}

{% endblock %}