{% extends 'base.html' %}

{% block content %}
<main>
    <div class="team-container">
        <div class="wrapper">
        {% if current_user.id == 1 %}
            <a href="{{ url_for('edit_post', post_id=post.id) }}"><button type="button" class="btn btn-primary btn-sm">Edytuj Post</button></a>
            <a href="{{ url_for('delete_post', post_id=post.id) }}"><button type="button" class="btn btn-danger btn-sm">Usuń Post</button></a>
        {% endif %}
            <div class="blog-container">
                <div class="header-container">
                    <h3>{{ post.title }}</h3>
                </div>
                <div class="wrapper">
                    <div class="wrapper-image">
                        <img src="{{post.image_url}}" alt="Picture" class="blog-img"/>
                    </div>
                </div>
                <div class="text-content">
                    <p>{{ post.content|safe }}</p>
                    <p class="source">Źródło: {{ post.image_url }}</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}