{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<main>
    <div class="team-container">
        <div class="wrapper">
            <table class="schedule">
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th class="tdwide">Email</th>
                    <th>Telefon</th>
                    <th class="tdwide">Wizyty</th>
                    <th class="tdwide">Usuń</th>
                </tr>
                {% for patient in patients: %}
                {% if patient.id > 1: %}
                <tr>
                    <td class="field">{{patient.id}}</td>
                    <td class="field">{{patient.first_name}}</td>
                    <td class="field">{{patient.last_name}}</td>
                    <td class="field">{{patient.email}}</td>
                    <td class="field">{{patient.mobile}}</td>
                    <td class="field">
                        {% if display_patient_visits(patient) %}
                        {% for visit in display_patient_visits(patient): %}
                        {{ visit.date }} {{ visit.starts_at }}
                        {% endfor %}
                        {% else %}
                        Brak wizyt
                        {% endif %}
                    </td>
                    <td>
                        <form action="/delete_patient" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input name="id" type="hidden" value="{{ patient.id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Usuń pacjenta</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}

    {% include 'footer.html' %}

{% endblock %}