{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<main>
    <div class="team-container">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h3>Regulamin</h3>
                    <p>1. Użyte w niniejszym Regulaminie pojęcia oznaczają:
                    <ul>
                        <li>Twórca Strony - podmiot, który stworzył Serwis, to jest Łukasz Klimczak, e-mail lukasz.klimczak.dev@gmail.com</li>
                        <li>Formularz rejestracyjny - dokument elektroniczny, znajdujący się w Serwisie, służący do rejestracji konta Użytkownika w Serwisie.</li>
                        <li>Konto – dokument elektroniczny, który powstaje na skutek rejestracji Użytkownika w Serwisie. W ramach Konta Użytkownik może dodać nieprawdziwe dane osobowe takie jak adres e-mail, imię, nazwisko oraz nr telefonu.</li>
                        <li>Regulamin - niniejszy dokument, określający warunki korzystania z Serwisu oraz prawa i obowiązki Użytkowników oraz Twórcy Strony.</li>
                        <li>Serwis – niniejsza aplikacja.</li>
                        <li>Użytkownik – pełnoletnia osoba fizyczna, posiadająca pełną zdolność do czynności prawnych, działająca we własnym imieniu (użytkownik indywidualny) lub w imieniu osoby prawnej (użytkownik instytucjonalny), która korzysta z Serwisu zgodnie z postanowieniami Regulaminu. Użytkownikiem może być również osoba małoletnia i/lub nieposiadająca pełnej zdolności do czynności prawnych, pod warunkiem uzyskania zgody przedstawiciela ustawowego.</li>
                    </ul>
                    </p>
                    <p>2. Korzystanie z Serwisu nie polega na świadczeniu przez Twórcę Strony usług drogą elektroniczną. Użytkownikowi nie przysługują wobec Twórcy Strony żadne roszczenia dotyczące Serwisu i w związku z korzystaniem z niego. Serwis powstał jedynie w celu edukacyjnym i szkoleniowym.</p>
                    <p>3. To nie jest Serwis prawdziwej poradni psychologiczno-terapeutycznej.</p>
                    <p>4. Wszystkie informacje zawarte w Serwisie mają charakter fikcyjny.</p>
                    <p>5. Pod żadnym pozorem nie podawaj swoich prawdziwych danych osobowych w Formularzu rejestracyjnym.
                        Twórca Strony nie ponosi żadnej odpowiedzialności wobec Użytkowników, którzy udostępnią swoje prawdziwe dane w Formularzu Rejestracyjnym lub korzystając z Serwisu.</p>
                    <p>6. Korzystając z Serwisu, wyrażasz na to zgodę. Jeśli nie wyrażasz zgody, opuść Serwis.</p>
                    <p>7. Za pomocą Serwisu Użytkownik ma możliwość korzystania z funkcjonalności:
                    <ul>
                        <li>Rejestrowanie, modyfikacja i usuwanie Konta;</li>
                        <li>Rejestrowanie i usuwanie fikcyjnych wizyt w fikcyjnej poradni psychologiczno-terapeutycznej;</li>
                        <li>Dodawanie, edycja i usuwanie postów na blogu, z pozycji administratora Serwisu.</li>
                    </ul>
                    </p>
                    <p>8. Twórca Strony zastrzega sobie jednostronną możliwość dodawania nowych oraz zmiany lub usuwania istniejących funkcjonalności Serwisu.</p>
                    <p>9. Twórcy strony przysługuje prawo zamknięcia Serwisu z dowolnej przyczyny, bez uprzedzenia Użytkowników o powyższym. Zamknięcie Serwisu nie rodzi żadnych roszczeń dla Użytkowników.</p>
                    <p>10. Wymagania techniczne dotyczące korzystania z funkcjonalności Serwisu są następujące:
                    <ul>
                        <li>połączenie z siecią Internet,</li>
                        <li>przeglądarka internetowa umożliwiająca wyświetlanie na ekranie komputera dokumentów hipertekstowych (HTML) powiązanych w sieci Internet przez usługę sieciową z włączonym wykonywaniem Java Script oraz zapisywaniem Cookies,</li>
                        <li>konto poczty e-mail.</li>
                    </ul>
                    </p>
                    <p>11. Użytkownik przed rozpoczęciem korzystania z Serwisu jest zobowiązany do uprzedniego zapoznania się z postanowieniami zawartymi w Regulaminie. Rejestracja w Serwisie jest równoznaczna z akceptacją Regulaminu.</p>
                    <p>12. Użytkownik zobowiązuje się do przestrzegania postanowień Regulaminu w trakcie korzystania z Serwisu.</p>
                    <p>13. Użytkownik zobowiązuje się powstrzymać od wszelkich działań mogących utrudnić, bądź destabilizować funkcjonowanie Serwisu lub korzystanie z jego funkcjonalności.</p>
                    <p>14. Użytkownik ponosi pełną odpowiedzialność za niewłaściwe korzystanie ze swojego Konta, w szczególności za wykorzystywanie go do zamieszczania w Serwisie treści sprzecznych z przepisami prawa, zasadami współżycia społecznego oraz niniejszym Regulaminem.</p>
                    <p>15. W odniesieniu do utworów zamieszczonych w Serwisie Użytkownicy zobowiązani są do przestrzegania przepisów ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (Dz. U. Nr 24, poz. 83 z późn. zm.), ustawy z dnia 16 kwietnia 1993 roku o zwalczaniu nieuczciwej konkurencji (Dz.U.93.47.211 z późn. zm.) oraz ustawy z dnia 30 czerwca 2000 r. Prawo Własności Przemysłowej (Dz.U. z 2001 r. Nr 49, poz. 508 ze zmianami).</p>
                    <p>16. Użytkownik oświadcza, że posiada wszelkie prawa, w tym w szczególności prawa autorskie, do wszystkich przesyłanych materiałów, w szczególności do zdjęć i tekstów oraz że utwory te są wolne od wad prawnych i nie naruszają żadnych praw osób trzecich oraz innych podmiotów (w razie ewentualnych roszczeń osób trzecich, wynikających z naruszenia tych praw, Użytkownik ponosi całkowitą odpowiedzialność).</p>
                    <p>17. Użytkownik będzie zobowiązany do ponoszenia opłat należnych twórcom i/lub wykonawcom bądź organizacjom zbiorowego zarządzania prawami autorskimi lub prawami pokrewnymi lub innym podobnym organizacjom z tytułu zamieszczania w serwisie utworów w sytuacji, kiedy takie opłaty będą wymagane.</p>
                    <p>18. Użytkownik oświadcza, że materiały zamieszczone w Serwisie są jego wyłącznego autorstwa i są wolne od roszczeń osób trzecich w jakimkolwiek zakresie. Użytkownik zapewnia, iż materiały zamieszczone na Serwisie nie są obciążone żadnymi roszczeniami i innymi prawami osób trzecich. Z chwilą umieszczenia materiałów na Serwisie, Użytkownik udziela Twórcy Strony nieodpłatnej licencji na korzystanie z tych materiałów, w całości jak i ich poszczególnych części, bez ograniczenia czasowego i terytorialnego. Licencja obejmuje prawo do:
                    <ul>
                        <li>trwałego lub czasowego zwielokrotnienia materiałów lub ich części w jakikolwiek sposób, formie lub technologii, w tym małoformatowymi technikami poligraficznymi w formie ulotki, gazety, katalogu, folderu reklamowego lub formacie książkowym,</li>
                        <li>utrwalania, wprowadzania, wyświetlania, stosowania, przekazywania i przechowywania materiałów lub ich części,</li>
                        <li>publicznego rozpowszechniania i obrotu materiałami, ich częściami w jakikolwiek sposób i formie, w tym drodze przeniesienia praw, dalszej licencji, najmu lub dzierżawy,</li>
                        <li>tworzenia opracowań materiałów lub ich części,</li>
                        <li>wprowadzenia materiałów lub ich części do pamięci komputera,</li>
                        <li>udostępniania materiałów lub ich części w jakiejkolwiek formie i technologii, w tym poprzez sieć Internet, w tym wykorzystania materiałów lub ich części na dowolnych stronach internetowych,</li>
                        <li>wykorzystywania materiałów lub ich części nieokreślonego w czasie oraz we wszystkich krajach świata.</li>
                    </ul></p>
                    <p>19. Użytkownik wyraża jednocześnie zgodę na rozporządzanie i korzystanie z opracowań materiałów lub ich poszczególnych części (wykonywania praw zależnych). Użytkownik zobowiązuje się do niewykonywania autorskich prawa osobistych w takim zakresie, że wyraża zgodę na publikację i rozpowszechnianie materiałów, ich części, lub opracowań tych materiałów lub ich części bez podpisu.</p>
                    <p>20. Twórca Strony zobowiązuje się do zapewnienia możliwie najwyższej jakości i stabilności Serwisu, jednakże nie ponosi odpowiedzialności za przerwy i zakłócenia spowodowane działaniem siły wyższej bądź nieuprawnionym działaniem podmiotów trzecich.</p>
                    <p>21. Twórca Strony nie ponosi odpowiedzialności za czasową niemożność korzystania z Serwisu, spowodowaną wprowadzaniem nowych rozwiązań i udogodnień w ramach Serwisu. W miarę możliwości Twórca Strony będzie powiadamiać Użytkowników o planowanych przerwach w działaniu Serwisu bądź mogących wystąpić niedogodnościach w jego użytkowaniu.</p>
                    <p>22. Twórca Strony zastrzega sobie prawo do prowadzenia prac konserwacyjnych urządzeń systemu teleinformatycznego służącego do zapewnienia dostępu do Serwisu, mogących powodować okresowe utrudnienia lub uniemożliwienie Użytkownikom korzystanie z wybranych funkcjonalności bądź całego Serwisu. W miarę możliwości Twórca Strony zobowiązuje się do wcześniejszej publikacji terminu i przewidywanego czasu trwania prac konserwacyjnych na łamach Serwisu. W takim przypadku Twórca Strony nie ponosi jakiejkolwiek odpowiedzialności wobec Użytkowników.</p>
                    <p>23. W szczególnych przypadkach mających wpływ na bezpieczeństwo lub stabilność Serwisu, Twórca Strony zastrzega sobie możliwość czasowego ograniczenia lub zaprzestania świadczenia usługi dostępu do Serwisu bez wcześniejszego powiadomienia Użytkowników oraz do przeprowadzenia prac konserwacyjnych w celu przywrócenia bezpieczeństwa i stabilności Serwisu. W takim przypadku Twórca Strony nie ponosi jakiejkolwiek odpowiedzialności wobec Użytkowników.</p>
                    <p>24. Twórca Strony nie ponosi odpowiedzialności za treści przekazywane i publikowane przez Użytkowników. Treści umieszczane przez Użytkowników nie są poglądami i opiniami Twórcy Strony. Twórca Strony zastrzega sobie jednak prawo do: redagowania, skracania tekstów bądź usunięcia treści zabronionych przez prawo, wulgarnych, obraźliwych lub w inny sposób naruszających zasady współżycia społecznego. Użytkownik zamieszczający treści zabronione może ponieść odpowiedzialność karną oraz cywilną względem Twórcy Strony bądź innych osób lub podmiotów trzecich.</p>
                    <p>25. Twórca Strony nie ponosi odpowiedzialności za działania Użytkowników i podmiotów trzecich, ani za wykorzystanie przez nich danych innych Użytkowników niezgodnie z celem działania Serwisu, o którym mowa w niniejszym Regulaminie.</p>
                    <p>26. Twórca Strony nie ponosi odpowiedzialności w przypadku skierowania do niego przez innych Użytkowników, osoby trzecie lub podmioty trzecie roszczeń związanych z opublikowaniem zdjęć lub osobistego wizerunku tych Użytkowników, osób trzecich lub podmiotów trzecich. Odpowiedzialność w tym zakresie ponosi wyłącznie Użytkownik, który opublikował sporne zdjęcie lub wizerunek.</p>
                    <p>27. Twórca Strony zwraca uwagę, że Serwis zawiera treści chronione prawem własności intelektualnej, w szczególności utwory chronione prawem autorskim. Użytkownik zobowiązuje się do przestrzegania praw własności intelektualnych (w tym autorskich praw majątkowych oraz praw własności przemysłowej takich jak prawa wynikające z rejestracji znaków towarowych) przysługujących Właścicielowi oraz podmiotom trzecim. Użytkownik ponosi wyłączną odpowiedzialność za nieprzestrzeganie postanowień niniejszego punktu.</p>
                    <p>28. W związku z działaniami wojennymi w sąsiadujących z Polską krajami:
                    <ul>
                        <li>Twórca Strony rezerwuje sobie prawo do usunięcia dowolnego Konta Użytkownika w dowolnym momencie, bez udzielania informacji zwrotnej o powodach tej decyzji.</li>
                        <li>Twórca Strony może zgłaszać do odpowiednich władz posty, które mogą być związane z działaniami propagandowymi agentów zagranicznych, potem po zwolnieniu z tajemnicy przez polską prokuraturę udostępniać jej dane osobowe autorów tych postów.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}

    {% include 'footer.html' %}

{% endblock %}