{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<main>
    <div class="team-container">
        <div class="wrapper">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                   <p>{{ message }}</p>
                  {% endfor %}
                {% endif %}
            {% endwith %}
            {% if current_user.id != 1 %}
            {% if booked %}
            <p>Masz zarezerwowane terminy wizyt:</p>
            {% for visit in visits %}
            {{ visit.date }}: {{ visit.starts_at }}<br>
            {% endfor %}
            {% else %}
            <p>Nie masz zarezerwowanego terminu wizyty</p>
            {% endif %}
            {% endif %}
            <br>
            <a href="{{ url_for('book_a_visit') }}"><button type="button" class="btn btn-primary btn-sm">Zarezerwuj wizytę</button></a>
            {% if current_user.id == 1 %}
            <a href="{{ url_for('register_book_a_visit') }}"><button type="button" class="btn btn-primary btn-sm">Zarejestruj pacjenta i Zarezerwuj wizytę</button></a>
            <a href="{{ url_for('delete_a_visit')}}"><button type="button" class="btn btn-danger btn-sm">Usuń wizytę</button></a>
            <a href="{{ url_for('block_term')}}"><button type="button" class="btn btn-danger btn-sm">Zablokuj termin</button></a>
            {% else%}
            {% if visits: %}
            <a href="{{ url_for('delete_a_visit')}}"><button type="button" class="btn btn-danger btn-sm">Usuń swoją wizytę</button></a>
            {% endif %}
            {% endif %}

            <div class="row">
                <div class="col-lg-4 col-md-12">
                </div>
                    <div class="col-lg-8 col-md-12">
                        <br>
                        <h1 style="color: black;">Harmonogram wizyt</h1>
                    </div>
            </div>

                <div>
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button type="submit" class="btn btn-info left-button" name="previous" value="submit"> < </button>
                        <button type="submit" class="btn btn-info right-button" name="forward" value="submit"> > </button>
                    </form>
                </div>
                <br>
                <div class="schedule-container">
                    <table class="schedule">

                        <tr>
                           <th></th>
                            {% for day in days_of_week: %}
                            <td>{{day}}</td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>Godzina</th>
                            {% for date in free_days: %}
                            {% if date: %}
                            <th>{{date}}</th>
                            {% else %}
                            <th>Nieczynne</th>
                            {% endif %}
                            {% endfor %}
                        </tr>

                        {% for hour in hours: %}
                        <tr>
                            <td>{{hour}}:00</td>
                            {% for visit in make_list_visits(hour, free_days) %}
                            {% if visit == 0: %}
                            <td class="field closed">Nieczynne</td>
                            {% else %}
                            {% if visit: %}
                            {% if current_user.id == 1: %}
                            {% if visit.patient.id == 1: %}
                            <td class="field busy">Zablokowałeś termin</td>
                            {% else %}
                            {% if visit.patient.id: %}
                            <td class="field">Nr ID: {{visit.patient.id}}; {{visit.patient.first_name}} {{visit.patient.last_name}}<br>Email: {{visit.patient.email}}<br>Tel.: {{visit.patient.mobile}}</td>
                            {% else %}
                            <td class="field">Konto usunięte</td>
                            {% endif %}
                            {% endif %}
                            {% else %}
                            {% if visit.patient.id == 1: %}
                            <td class="field busy">Zablokowano termin</td>
                            {% else %}
                            <td class="field busy">Zajęty</td>
                            {% endif %}
                            {% endif %}
                            {% else %}
                            <td class="field free">Wolny</td>
                            {% endif %}
                            {% endif %}
                            {% endfor %}

                        </tr>
                        {% endfor %}

                    </table>
                </div>

        </div>
    </div>


</main>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}